*{
    font-family: "Bell MT";
}
.resume{
    margin: none;
    background-image: linear-gradient(-15deg,#b0d4bd,#c2e0cc,#90f6b7,#c8dfcd,#8bc7b1);
}
.resume-title{
    font-family:"Playfair Display SC","Castellar";
    letter-spacing: 2.5px;
    font-size: 11vw;
}
.resume-subtitle{
    letter-spacing: 0.5px;
    font-size: 6vw;
}
.resume-basic-information{
    font-size: 3.5vw;
    font-style: italic;
    line-height: 12vh;
}
.resume-name{
    font-family: "細明體_HKSCS";
}
.resume-birthday{
    font-family: "Caladea";
}
.resume-email{
    font-family: "Caladea";
}
.resume-phone{
    font-family: "Caladea";
}
.resume-personal-experience{
    display: inline-block;
    margin-bottom: 2vh;
}
.resume-personal-experience ul{
    margin-top: 0.5vh;
    margin-bottom:0.5vh;
    padding: 0px;
    font-size: 3vw;
}
.resume-personal-experience li{
    list-style-type:disc;
    font-family: "Century Schoolbook";
    font-size:1.5vw;
    line-height: 5vh;
}
.resume-language{
    font-weight: bold;
}
.resume-skill{
    font-weight: bold;
}
.resume-experience{
    font-weight: bold;
}
.resume-myPhoto{
    width: 30%;
    margin-top: 1vh;
    margin-left: 20vw;
}
.resume-links{
    text-align: center;
}
.resume-img-fb{
    width: 30%;
    height: auto;   
}
.resume-img-ig{
    width: 30%;
    height: auto;
}
.resume-img-tumblr{
    width: 30%;
    height: auto;
}
.resume-last-sentence{
    letter-spacing: 1.5px;
    font-size: 5vw;
    text-align:right;
}
@media screen and (max-width:768px){
    *{
        width:100%;
        display: block;
        text-align: center;
        margin: 0px auto;
    }
    .resume{
        background-image: radial-gradient(#ffffff,#ffeaf5,#e5b6b9,#ffa0b1,#a56d74);
    }
    .resume-basic-information{
        line-height:6vh;
        font-style: normal;
    }
    .resume-personal-experience li{
        line-height: 3vh;  
        list-style-type:circle;
    }
    .resume-myPhoto{
        margin: 0px auto;
    }
    .resume-last-sentence{
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .resume{
        background-image:conic-gradient(#b8e9f0,#c5f1f5,#9beff7,#85e0e9,#83cee2,#98d7dd,#d0f4f5,#98d7dd,#bcd6f7,#9ec1ff,#b3ecf7,#ade6f3)
    }
    .resume-title{
        letter-spacing: 5px;
        font-size: 12vw;
    }
    .resume-subtitle{
        letter-spacing: 2.5px;
        font-size: 7vw;
    }
    .resume-basic-information{
        line-height:18vh;
        font-weight: bolder;
        font-style: normal;
        letter-spacing:2px;
        font-size: 4vw;        
    }
    .resume-personal-experience{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .resume-personal-experience ul{
        font-size: 4vw;
    }
    .resume-personal-experience li{
        line-height: 8vh; 
        list-style-type: square; 
        font-size:3vw;
        letter-spacing:2.5px;
    }
    .resume-myPhoto{
        margin: 0px 0px 0px 30px;
    }
    .resume-last-sentence{
        text-align: left;
        letter-spacing:5px;
    }
}